h3 {
  margin-top: 12px;
  margin-bottom: 0px;
}

.blog {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
  justify-content: center;
}

.blog > a {
  width: 300px;
  text-align: center;
  margin: 0px 10px 15px 10px;
  border: 2px solid black;
}

.hover:hover {
  color: black;
}

.url {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
