h3 {
  margin-top: 12px;
  margin-bottom: 0px;
}

.blog {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog > div {
  width: 300px;
  font-size: 20px;
}

.url {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.url:hover {
  color: black;
}
