h3 {
  margin-top: 12px;
  margin-bottom: 0px;
}

.blog {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
  justify-content: left;
  /* border: 2px solid black; */
  align-items: left;
}

.url {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.url:hover {
  color: black;
}
