h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px solid black; */
  align-items: center;
}

.url {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.url:hover {
  color: black;
}

.linkedin {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.linkedin:hover {
  color: black;
}

.intro {
  font-size: 24px;
}

* {
  text-align: center;
}

.body {
  text-align: left;
}
