h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.nav {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid black;
  align-items: center;
}

.url {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: bold;
}

.url:hover {
  color: green;
}

.intro {
  font-size: 24px;
}

.body {
  text-align: left;
}
