.music {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

iframe {
  margin: 0px 10px 15px 10px;
  border: 1px solid black;
}
