.body {
  text-align: left;
  margin-bottom: 5px;
}

body {
  margin-top: 0px;
}

.project {
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.repo {
  text-decoration: none;
  font-weight: bold;
}

.repo:hover {
  color: black;
}

.website {
  width: 100%;
  height: 315px;
  margin-top: 16px;
}

@media screen and (max-width: 713px) {
  .website {
    height: 590px;
  }
}
