.project {
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px solid black; */
  align-items: center;
}

.url {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.url:hover {
  color: black;
}

.repo {
  text-decoration: none;
  font-weight: bold;
}

.repo:hover {
  color: black;
}

.hashtag {
  font-weight: bold;
}

.box {
  padding: 0px 5px 0px 5px;
  margin-right: 4px;
  border: 2px solid black;
}
