* {
  text-align: center;
  color: white;
  background-color: #3d598b;
  font-family: "Khula", sans-serif;
}

nav {
  display: flex;
}

h1 {
  margin-left: 10px;
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: black;
}

.app {
  text-align: center;
}

.header {
  margin-top: 15px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.body {
  text-align: left;
}
