nav {
  display: flex;
}

h1 {
  margin-left: 10px;
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: black;
}

.app {
  text-align: center;
}

.header {
  margin-top: 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 1vmin);
  color: white;
}

* {
  color: white;
  background-color: #1a515b;
}
